In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('../../data/media.csv', sep=':')
df = df.applymap(lambda x: str(x).replace(',', '.'))
df

/tmp/ipykernel_94558/2286578983.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x).replace(',', '.'))

  x pos  x neg y pos  y neg z pos  z neg
0  1.01  -0.95  1.00  -1.00  1.04  -0.96